{% extends 'base.html' %}

{% block title %}{% if form.instance.pk %}Editar{% else %}Nova{% endif %} Tarefa{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">{% if form.instance.pk %}Editar{% else %}Nova{% endif %} Tarefa</h2>

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.titulo.label_tag }}
      {{ form.titulo }}
      {{ form.titulo.errors }}
    </div>

    <div class="mb-3">
      {{ form.descricao.label_tag }}
      {{ form.descricao }}
      {{ form.descricao.errors }}
    </div>

    <div class="mb-3">
      {{ form.prazo.label_tag }}
      {{ form.prazo }}
      {{ form.prazo.errors }}
    </div>

    <div class="mb-3">
      {{ form.concluida.label_tag }}
      {{ form.concluida }}
      {{ form.concluida.errors }}
    </div>


    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{% url 'projetos:lista_tarefas' projeto.id %}" class="btn btn-secondary">Voltar</a>
  </form>
</div>
{% endblock %}
